<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yc.dao.OpRecordDaoMapper">

	<!-- 使用二级缓存 -->

	<cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true" />
	<insert id="insertOpRecord" parameterType="OpRecord">
		insert into oprecord
		values(seq_oprecord.nextval,#{accountid}
		,#{opmoney},sysdate)
	</insert>

	<select id="findAll" resultType="OpRecord">

		select * from oprecord
	</select>

</mapper>