<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yc.dao.AccountDaoMapper">

    <cache
        eviction="FIFO"
        flushInterval="60000"
        size="512"
        readOnly="true" />
    <!--存取转账的业务放在业务层  -->
       <update id="updateAccount"  parameterType="Account" >
               update  account  set  balance  = balance +  #{balance}  where accountid =  #{accountid}
       </update>
	<!-- 查询 -->
	 <select id="findAccount"  resultType="Account"  parameterType="int">
	 
	     select  * from  account  where  accountid  =  #{accountid} 
	 </select>
	 
</mapper>